body {
    background-color: rgb(13, 41, 199);
    background-image: url("graphics/deftop.png");
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;


    a:link {
        color: rgb(255, 11, 11);
    }

    a:visited {
        color: rgb(53, 137, 78);
    }


    h3 {
        color: rgb(232, 14, 188);
    }
}