body {
    background-color: rgb(230, 230, 231);
    background-image: url("graphics/deftop.png");
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

a:link {
    color: rgb(255, 11, 11);
}

a:visited {
    color: rgb(53, 137, 78);
}

h3 {
    color: rgb(232, 14, 188);
}

#deftones {
    position: absolute;
    top: 300px;
    left: 500px;
    background-color: aliceblue;
}

#page {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 600px;
}